# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Node (if applicable in future)
node_modules/
npm-debug.log
yarn-error.log
